body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
  border: 3px solid #d5b982;
}

.profile-details {
  margin-top: 20px;
  text-align: left;
}

.profile-details .form-group {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #d5b982;
  border-color: #d5b982;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
